mydomain.me
{
  tls h5ai@protonmail.com
  proxy / https://dear-deals.com {
    header_upstream Host {host}
    header_upstream X-Real-IP {remote}
    header_upstream X-Forwarded-For {remote}
    header_upstream X-Forwarded-Proto {scheme}
  }
  proxy /data localhost:8081 {
    websocket
    header_upstream -Origin
  }
}
